@media screen and (max-width: 1200px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 2500px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

 

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section-pic-container {
    width: 270px;
    height: 270px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
    margin: 0.2rem;
    gap: 0rem;
  }
}

@media screen and (max-width: 2500px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-top,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 1;
  }

  #contact a {
    font-size: 1.2rem;
  }

  .contact-info-container,
  .nav-links li a {
    font-size: 1rem;
  }

  .nametag {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .details-container {
    border-color: rgb(163, 163, 163);
  }

  .section-pic-container {
    width: 270px;
    height: 270px;
    justify-content: center;
  }

  .section-text-p2 {
    font-size: 1.25rem;
  }

  .section-text-p1 {
    font-size: 1rem;
  }

  title,
  .page-top {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .text-container {
    text-align: justify;
  }

  .sub-title {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  #about .details-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border-color: rgb(163, 163, 163) 0.1rem solid;
    border-radius: 1rem;
  }

  #about .article-container {
    margin: 0rem;
  }

  .about-details {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0rem;
  }

  #about .section-container {
    justify-content: center;
    margin: 0rem;
  }

  .text-container {
    text-align: center;
    margin-left: none;
    justify-content: center;
    width: 80%;
    padding-bottom: 4rem;
  }

  #about .experience-details-container {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #projects .section-container {
    justify-content: center;
    padding-bottom: 4rem;
  }

  #about .section-pic-container {
    width: 270px;
    height: 270px;
    justify-content: center;
  }

  .sub-title {
    width: 100%;
    justify-content: center;
  }

  #hamburger-nav {
    margin-bottom: 5rem;
  }

  .menu-links a {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 535px) and (min-width: 376px) {
  

  #about .about-containers {
    width: 62vw;
    padding-left: 13vw;
    
  }

  .about-details {
    text-align: center;
    align-items: center;
  }

  

}

@media screen and (max-width: 535px) {
  .skills-container {
    align-items: center;
  }

  
}

@media screen and (max-width: 1100px) {
    

    .project-container {
      width: 45%;
      margin-bottom: 1rem;
      height: 50vh;
      display: flex;
    }

    .project-img {
      margin-top: 0;
      width: 200px;
      margin-left: 10px;
    }

    .proj-cont {
     justify-content: center;
     align-items: center;
    }
}

@media screen and (max-width: 950px) {
  .project-container {
    width: 300px;
    margin-bottom: 1rem;
    height: fit-content;
    display: block;
  }

  .arrow {
    display: none;
  }

  .project-img {
    margin-top: 1rem;
    
    margin-left: 0;
    width: 90%;
  }


} 